table {
    width: 412px;
    height: 784px;
    min-width: 412px;
    max-width: 412px;
    min-height: 784px;
    max-height: 784px;
    table-layout: fixed;

    border: 1px solid #8e8e8e;
    border-radius: 24px;
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0;
    background-color: #8e8e8e;
}
tr:nth-child(1) td {
    border-bottom: none;
}
tr:nth-child(2) td {
    border-top: none;
}
tr:last-child td {
    border-bottom: none;
}
td:last-child {
    border-right: none;
}
td {
    width: 103px;
    height: 120px;
    font-size: 50px;
    text-align: center;
    background-color: #e0e0e0;
    border-bottom: 1px solid #8e8e8e;
    border-right: 1px solid #8e8e8e;
}
.btnOperator,
#btnEqual {
    background-color: #e89650;
    color: #ffffff;
}

#formularDisplay {
    height: 92px;
    font-size: 30px;
    background-color: #413c3c;
    text-align: right;
    color: #ffffff;
    white-space: nowrap;
}
#resultDisplay {
    height: 92px;
    font-size: 50px;
    background-color: #413c3c;
    text-align: right;
    color: #ffffff;
    white-space: nowrap;
}
